.popup {
  width: auto;
  height: 600px;
  background-color: aqua;
}
.popup__title {
  font-size: 20px;
  font-family: Tahoma, sans-serif;
}
.popup__text {
  color: red;
}
.popup__button {
  color: white;
  background-color: blue;
}