.conteiner {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    background-color: aqua;
    margin: 100px auto;
}

.conteiner:hover {
    transform: translate(100px, 200px) rotate(45deg) scale(2, 3) skew(20deg, 30deg);
}