.image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .image {
        width: 100%;
    }

    h1 {
        font-size: 90%;
        color: blue;
    }
    p {
        font-size: 70%;
    }
}